.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	height: 100vh;
}

.title {
	margin-bottom: 1.7vh;
	color: whitesmoke;
}

.panel_top {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	height: 25vh;
	width: 100%;
}
.middle_component {
	position: absolute;
	top: 16.5vh;
	z-index: 2;
}
.panel_bot {
	height: 77.4vh;
	width: 100%;
}

@media (min-width: 300px) {
	.panel_top {
		margin: 1vh 0;
	}
	.title {
		font-size: 140%;
		margin-bottom: 0.8vh;
	}
	.middle_component {
		top: 10vh;
	}
}

@media (min-width: 600px) {
	.panel_top {
		margin: 2.1vh 0;
	}
	.title {
		font-size: 200%;
	}
	.middle_component {
		top: 15.7vh;
	}
}

@media (min-width: 1024px) {
	.panel_top {
		margin: 2.2vh 0;
	}
	.title {
		font-size: 250%;
	}
	.middle_component {
		top: 16vh;
	}
}

@media (min-width: 1400px) {
	.panel_top {
		margin: 1.8vh 0;
	}
	.title {
		font-size: 290%;
		margin-bottom: 1.8vh;
	}
	.middle_component {
		top: 16.3vh;
	}
}
